{{#each sessions as |session|}}

  <div class="session row"><h3>Game: {{session.game.name}}</h3>
    <div class="data">Number of Players: {{session.players}} </div>
    <div class="data">Your Rating: {{session.rating}} </div>
    <div class="data">Session ID: {{session.id}}</div>
  <div class="data">
    {{#if session.notes}}
      <div>Notes: {{session.notes}}</div>
    {{/if}}
  </div></div>

{{/each}}
